@mixin flex-align-c-jc-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-jc-sb {
  display: flex;
  justify-content: space-between;
}

@mixin flex-align-c {
  display: flex;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin bg-c-cv {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin mini-arr{
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 1px;
}

@mixin under-line {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  pointer-events: none;
  background-color: currentColor;
}

@mixin focus-bg {
  outline: none;
  background-color: $secondary;
  color: $white;
}