@media only screen and (-o-min-device-pixel-ratio: 5/4),
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and (min-device-pixel-ratio: 1.25),
only screen and (min-resolution: 1.25dppx) {
  .no-webp .hero {
    --intro-bg-1: url('../img/intro-bg-1@2x.jpg');
    --intro-bg-2: url('../img/intro-bg-2@2x.jpg');
    --intro-bg-3: url('../img/intro-bg-3@2x.jpg');

    @include media-tablet {
      --intro-bg-1: url('../img/intro-tablet-bg-1@2x.jpg');
      --intro-bg-2: url('../img/intro-tablet-bg-2@2x.jpg');
      --intro-bg-3: url('../img/intro-tablet-bg-3@2x.jpg');
    }
  }

  .webp .hero {
    --intro-bg-1: url('../img/intro-bg-1@2x.webp');
    --intro-bg-2: url('../img/intro-bg-2@2x.webp');
    --intro-bg-3: url('../img/intro-bg-3@2x.webp');

    @include media-tablet {
      --intro-bg-1: url('../img/intro-tablet-bg-1@2x.webp');
      --intro-bg-2: url('../img/intro-tablet-bg-2@2x.webp');
      --intro-bg-3: url('../img/intro-tablet-bg-3@2x.webp');
    }
  }

  .no-webp {
    .section {
      --gallery-bg: url('../img/gallery-bg@2x.jpg');
      --editions-bg: url('../img/editions-bg@2x.jpg');

      @include media-tablet {
        --gallery-bg: url('../img/gallery-tablet-bg@2x.jpg');
        --editions-bg: url('../img/editions-tablet-bg@2x.jpg');
      }
    }
  }

  .webp {
    .section {
      --gallery-bg: url('../img/gallery-bg@2x.webp');
      --editions-bg: url('../img/editions-bg@2x.webp');

      @include media-tablet {
        --gallery-bg: url('../img/gallery-tablet-bg@2x.webp');
        --editions-bg: url('../img/editions-tablet-bg@2x.webp');
      }
    }
  }
}
