//colors
$black: #000;
$white: #fff;
$primary: #9D5CD0;
$secondary: #7943A4;
$primary-light: #C283F3;
$secondary-light: #D1A9F0;
$text: #333333;
$text-light: #999999;

$btn-slider: #666666;
$btn-light: #ECECEC;
$border: #CACACA;
