.contacts {
  position: relative;
  overflow: hidden;
  height: 700px;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;

  &__info {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 522px;
    height: 100%;
    background-color: $white;
    border-right: 1px solid $border;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      width: 1000%;
      height: 100%;
      background-color: $white;
    }
  }

  &__info-inner {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding-top: 126px;
    width: 100%;
    max-width: 400px;
  }

  &__address {
    margin-bottom: 24px;
    font-style: normal;
    line-height: 1;
    color: $text;
  }

  &__address-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 600;
  }

  &__address-text {
    margin-top: 0;
    font-size: 16px;
    font-weight: 400;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 43px;
  }

  &__form-input {
    margin-bottom: 22px;
    padding: 4px 24px;
    height: 40px;
    width: 100%;
    background-color: $white;
    border: 1px solid $text;
    border-radius: 100px;
    color: $text;

    &::placeholder {
      color: $text-light;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1;
    font-weight: 400;
    color: $text;
  }

  &__social-list {
    display: flex;
    column-gap: 21px;
  }

  &__social-link {
    width: 40px;
    height: 40px;
  }

  &__social-icon {
    width: inherit;
    height: inherit;
  }

  &__map {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 70%;
    height: 100%;
  }
}

[class*="copyrights-pane"] {
  display: none;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}