.editions {
  @include flex-jc-sb;

  &__category {
    @include flex-column;
    margin-bottom: 20px;
  }

  &-mini-title {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    color: $white;

    &--price {
      margin-bottom: 6px;
    }
  }

  &__category-field {
    position: relative;
    cursor: pointer;

    &:hover {
      .editions__text--category {
        color: $primary-light;
        &::before {
          border-color: $primary-light;
        }
      }
    }
  }

  &__text {
    margin: 0;
    font-size: 16px;
    line-height: 1;
    color: $white;

    &--category {
      padding-left: 24px;
      line-height: 2;
      transition: color .2s ease-in-out;

      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      &::before {
        left: 0;
        width: 12px;
        height: 12px;
        border: 1px solid $white;
        transition: border-color .2s ease-in-out;
      }

      &::after {
        left: 4px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $primary-light;
        transform: translateY(-50%) scale(0);
        transition: transform .2s ease-in-out;
      }
    }

    &--price {
      padding: 0 10px;
      line-height: 2;
    }
  }

  &__category-checkbox {
    appearance: none;

    &.focus-visible {
      + .editions__text--category {
        color: $primary-light;
        &::before {
          border-color: $primary-light;
        }
      }
    }

    &:checked {
      + .editions__text--category {
        color: $primary-light;

        &::before {
          border-color: $primary-light;
        }

        &::after {
          transform: translateY(-50%) scale(1);
        }
      }
    }
  }

  &__price {
    margin-top: auto;
    margin-bottom: 5px;
  }

  &__price-box {
    @include flex-align-c;
    border: 1px solid rgba($white, 0.5);
    border-radius: 6px;
  }

  &__price-field {
    @include flex-align-c;
  }

  &__price-input {
    padding-left: 10px;
    height: 38px;
    max-width: 73px;
    background-color: rgba($primary, 0.5);
    border: 1px solid transparent;
    font-size: 16px;
    color: $white;
    transition: background-color .2s ease-in-out;

    &:hover {
      background-color: $primary;
    }

    &.focus-visible {
      outline: none;
      background-color: $primary;
      border-color: $white;
    }

    &::placeholder {
      color: currentColor;
    }

    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }
  }

  &-slider {
    margin-bottom: -3px;
    max-width: 1160px;
  }

  &-slider__list {
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 5px;
  }

  &-slider__item {
    @include flex-column;
    flex-shrink: 0;
    width: calc(((100% - 75px) / 3));
    padding: 0 5px 5px;
  }

  &-slider-img {
    margin-bottom: 21px;
    position: relative;
    width: 100%;
    height: 390px;
    overflow: hidden;
  }

  &-slider__info-header {
    @include flex-align-c-jc-sb;
  }

  &-slider__info__footer {
    margin-top: auto;

    &::before {
      content: "";
      display: block;
      width: 100%;
      margin-top: 15px;
    }
  }
}
