.footer {
  background-color: $black;

  &__container {
    @include flex-align-c-jc-sb;
    height: 140px;
  }

  &__social {
    @include flex-align-c;
  }

  &__social-item {

    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  &__social-link {
    display: block;
    width: 45px;
    height: 45px;
    fill: $border;
    transition: fill .2s ease-in-out;

    &:hover,
    &.focus-visible {
      fill: $white;
    }

    &.focus-visible {
      outline: none;
    }

    &:active {
      fill: $primary;
    }
  }

  &__social-icon {
    width: inherit;
    height: inherit;
  }
}