.gallery {
  @include flex-jc-sb;

  &__dropdown {
    max-width: 400px;
  }

  &__dropdown-title {
    margin: 0 0 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 2;
    color: $white;
  }

  &__dropdown-btn {
    position: relative;
    padding: 3px 15px;
    display: block;
    width: 100%;
    border: 1px solid $white;
    border-radius: 6px;
    text-align: left;
    font-size: 16px;
    line-height: 2;
    color: $white;
    transition: background-color .2s ease-in-out;

    &[data-hover="true"]:hover,
    &.focus-visible,
    &:active {
      background-color: rgba($white, 0.2);
    }

    &.focus-visible {
      outline: none;
    }

    &:active {
      &::before {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(45deg);
      }
    }

    &::before,
    &::after {
      @include mini-arr;
      top: 21px;
      background-color: currentColor;
      transition: transform .2s ease-in-out;
    }

    &::before {
      transform: rotate(45deg);
      right: 17px;
    }

    &::after {
      transform: rotate(-45deg);
      right: 12px;
    }
  }

  &__info {
    margin-top: auto;
    margin-bottom: -10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 2;
    color: $white;
  }

  &-slider__item {
    height: 350px;

    @include media-tablet {
      height: 280px;
    }
  }

  @include media-tablet {
    &-slider {
      max-width: 595px;
    }

    &-slider__list {
      max-height: 595px;
    }
  }
}