.no-webp {
  .header {
    --realism-1: url('../img/realism-1.jpg');
    --realism-2: url('../img/realism-2.jpg');
    --realism-3: url('../img/realism-3.jpg');
    --realism-4: url('../img/realism-4.jpg');

    --impress-1: url('../img/impress-1.jpg');
    --impress-2: url('../img/impress-2.jpg');
    --impress-3: url('../img/impress-3.jpg');
    --impress-4: url('../img/impress-4.jpg');

    --postimpress-1: url('../img/postimpress-1.jpg');
    --postimpress-2: url('../img/postimpress-2.jpg');
    --postimpress-3: url('../img/postimpress-3.jpg');
    --postimpress-4: url('../img/postimpress-4.jpg');

    --vanguard-1: url('../img/vanguard-1.jpg');
    --vanguard-2: url('../img/vanguard-2.jpg');
    --vanguard-3: url('../img/vanguard-3.jpg');
    --vanguard-4: url('../img/vanguard-4.jpg');

    --future-1: url('../img/future-1.jpg');
    --future-2: url('../img/future-2.jpg');
    --future-3: url('../img/future-3.jpg');
    --future-4: url('../img/future-4.jpg');
  }
}

.webp {
  .header {
    --realism-1: url('../img/realism-1.webp');
    --realism-2: url('../img/realism-2.webp');
    --realism-3: url('../img/realism-3.webp');
    --realism-4: url('../img/realism-4.webp');

    --impress-1: url('../img/impress-1.webp');
    --impress-2: url('../img/impress-2.webp');
    --impress-3: url('../img/impress-3.webp');
    --impress-4: url('../img/impress-4.webp');

    --postimpress-1: url('../img/postimpress-1.webp');
    --postimpress-2: url('../img/postimpress-2.webp');
    --postimpress-3: url('../img/postimpress-3.webp');
    --postimpress-4: url('../img/postimpress-4.webp');

    --vanguard-1: url('../img/vanguard-1.webp');
    --vanguard-2: url('../img/vanguard-2.webp');
    --vanguard-3: url('../img/vanguard-3.webp');
    --vanguard-4: url('../img/vanguard-4.webp');

    --future-1: url('../img/future-1.webp');
    --future-2: url('../img/future-2.webp');
    --future-3: url('../img/future-3.webp');
    --future-4: url('../img/future-4.webp');
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  &__top {
    background-color: $black;

    @include media-tablet {
      position: relative;
    }
  }

  &__container {
    @include flex-align-c-jc-sb;
  }

  &__container--top {
    height: 100px;

    @include media-custom {
      height: 14.1vw;
    }
  }

  &__login {
    font-size: 18px;
    line-height: 1;
    color: $white;
    fill: currentColor;
    transition: color .2s ease-in-out;

    &[data-hover="true"]:hover {
      color: $primary-light;
    }

    &.focus-visible {
      @include focus-bg;
    }

    &[data-hover]:active {
      color: $primary;
    }

    @include media-tablet {
      font-weight: 600;
      &:active {
        color: $white;
      }
    }

    @include media-custom {
      font-size: 3.8vw;
    }
  }

  &__login-icon {
    width: 13px;
    height: 13px;

    @include media-custom {
      width: 2.8vw;
      height: 2.8vw;
    }
  }

  &__bottom {
    background-color: rgba($black, 0.4);

    @include media-tablet {
      display: none;
    }
  }

  &__container--bottom {
    height: 70px;
  }

  /* === HEADER BUTTON FOR DROPDOWN === */

  &__bottom-list {
    display: flex;
  }

  &__bottom-list-item {
    position: relative;
    perspective: 600px;

    &:not(:last-child) {
      margin-right: 98px;

      @include media-laptop {
        margin-right: 60px;
      }
    }
  }

  &__bottom-btn {
    position: relative;
    padding-right: 15px;
    font-size: 18px;
    line-height: 1;
    color: $white;
    transition: color .2s ease-in-out;

    &::before,
    &::after {
      @include mini-arr;
      top: 12px;
      background-color: currentColor;
      transition: transform .2s ease-in-out;
    }

    &::before {
      right: 5px;
      transform: rotate(45deg);
    }

    &::after {
      right: 0;
      transform: rotate(-45deg);
    }

    &[data-hover="true"]:hover {
      color: $primary;
    }

    &.focus-visible {
      @include focus-bg;
    }

    &[data-hover]:active,
    &.active {
      color: $secondary;

      &::before {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(45deg);
      }
    }
  }

  /* === HEADER DROPDOWN === */

  &__dropdown {
    position: absolute;
    top: 45px;
    left: 0;
    padding: 40px;
    width: 300px;
    max-height: 300px;
    background-color: rgba($black, 0.6);
    transform: translateY(-20%) rotateX(-45deg);
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease-in-out, transform .2s ease-in-out, visibility .5s;

    &.open {
      transform: translateY(0) rotateX(0deg);
      opacity: 1;
      visibility: visible;
    }
  }

  &__dropdown-list {
    height: 220px;
  }

  &__dropdown-item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__dropdown-link {
    position: relative;
    display: block;
    padding: 13px 14px;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    color: $white;
    @include bg-c-cv;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      display: block;
      width: 100%;
      height: 100%;
      border: 2px solid transparent;
      transition: border-color .2s ease-in-out, background-color .2s ease-in-out;
    }

    &[data-hover="true"]:hover,
    &.focus-visible{
      &::after {
        border-color: $primary;
      }
    }

    &.focus-visible {
      outline: none;
    }

    &[data-hover]:active {
      &::after {
        border-color: $secondary-light;
        background-color: rgba($primary-light, 0.4);
      }
    }

    &--realism {
      &-1 {
        background-image: linear-gradient(rgba($black, 0.3), rgba($black, 0.3)), var(--realism-1);
      }
      &-2 {
        background-image: linear-gradient(rgba($black, 0.3), rgba($black, 0.3)), var(--realism-2);
      }
      &-3 {
        background-image: linear-gradient(rgba($black, 0.3), rgba($black, 0.3)), var(--realism-3);
      }
      &-4 {
        background-image: linear-gradient(rgba($black, 0.3), rgba($black, 0.3)), var(--realism-4);
      }
    }

    &--impress {
      &-1 {
        background-image: linear-gradient(rgba($black, 0.3), rgba($black, 0.3)), var(--impress-1);
      }
      &-2 {
        background-image: linear-gradient(rgba($black, 0.3), rgba($black, 0.3)), var(--impress-2);
      }
      &-3 {
        background-image: linear-gradient(rgba($black, 0.3), rgba($black, 0.3)), var(--impress-3);
      }
      &-4 {
        background-image: linear-gradient(rgba($black, 0.3), rgba($black, 0.3)), var(--impress-4);
      }
    }

    &--postimpress {
      &-1 {
        background-image: linear-gradient(rgba($black, 0.3), rgba($black, 0.3)), var(--postimpress-1);
      }
      &-2 {
        background-image: linear-gradient(rgba($black, 0.3), rgba($black, 0.3)), var(--postimpress-2);
      }
      &-3 {
        background-image: linear-gradient(rgba($black, 0.3), rgba($black, 0.3)), var(--postimpress-3);
      }
      &-4 {
        background-image: linear-gradient(rgba($black, 0.3), rgba($black, 0.3)), var(--postimpress-4);
      }
    }

    &--vanguard {
      &-1 {
        background-image: linear-gradient(rgba($black, 0.3), rgba($black, 0.3)), var(--vanguard-1);
      }
      &-2 {
        background-image: linear-gradient(rgba($black, 0.3), rgba($black, 0.3)), var(--vanguard-2);
      }
      &-3 {
        background-image: linear-gradient(rgba($black, 0.3), rgba($black, 0.3)), var(--vanguard-3);
      }
      &-4 {
        background-image: linear-gradient(rgba($black, 0.3), rgba($black, 0.3)), var(--vanguard-4);
      }
    }

    &--future {
      &-1 {
        background-image: linear-gradient(rgba($black, 0.3), rgba($black, 0.3)), var(--future-1);
      }
      &-2 {
        background-image: linear-gradient(rgba($black, 0.3), rgba($black, 0.3)), var(--future-2);
      }
      &-3 {
        background-image: linear-gradient(rgba($black, 0.3), rgba($black, 0.3)), var(--future-3);
      }
      &-4 {
        background-image: linear-gradient(rgba($black, 0.3), rgba($black, 0.3)), var(--future-4);
      }
    }
  }

  &__dropdown-text {
    position: relative;
    z-index: 2;
  }

  /* === HEADER SEARCH === */

  &__search {
    display: flex;
    align-items: center;

    @include media-tablet {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-100px);
      background-color: #18171b;
      opacity: 0;
      visibility: hidden;
      transition: transform .2s ease-in-out, opacity .2s ease-in-out, visibility .2s ease-in-out;
    }

    @include media-tablet-mini {
      width: 100%;
      max-width: calc(100% - 30px);
      background-color: transparent;
    }

    @include media-custom {
      justify-content: center;
    }
  }

  &__search-btn {
    margin-top: 3px;
    margin-right: 9px;
    width: 23px;
    height: 23px;
    fill: $white;
    transition: fill .2s ease-in-out;

    &--open {
      display: none;

      @include media-tablet {
        position: relative;
        z-index: 1;
        display: block;
        transition: opacity .2s ease-in-out, visibility .2s ease-in-out;

        &.open {
          opacity: 0;
          visibility: hidden;
        }
      }
    }

    &[data-hover="true"]:hover {
      fill: $primary-light;
    }

    &.focus-visible {
      @include focus-bg;
    }

    &[data-hover]:active {
      fill: $secondary;
    }

    @include media-tablet {
      margin: 0;
      width: 29px;
      height: 29px;
    }

    @include media-custom {
      width: 5vw;
      height: 5vw;

      &:not(.header__search-btn--open) {
        align-self: flex-end;
      }
    }
  }

  &__search-icon {
    width: inherit;
    height: inherit;

    @include media-custom {
      width: 100%;
      height: 100%;
    }
  }

  &__search-input {
    margin: 0 4px 0 0;
    width: 100%;
    max-width: 218px;
    font-size: 18px;
    line-height: 25px;
    color: rgba($white, 0.85);
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid $white;
    border-radius: 0;
    transition: border-color .2s ease-in-out;

    &[data-hover="true"]:hover {
      border-color: $primary-light;
    }

    &.focus-visible {
      outline: none;
      border-color: $primary-light;
    }

    &::placeholder {
      color: currentColor;
    }

    @include media-tablet {
      margin-right: 0;

      &::placeholder {
        color: transparent;
      }
    }

    @include media-tablet-mini {
      max-width: 100%;
      height: 45px;
    }
  }

  /* --- STYLES TO BE ACTIVE WITH 1299-PX VIEWPORT --- */

  &__search-field {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    @include media-tablet {
      display: block;
      padding: 0 15px;
      width: 100%;
      max-width: $container-tablet;
      height: 100%;

      &.open {

        .header__search {
          transform: translateY(-50%);
          opacity: 1;
          visibility: visible;
        }
      }
    }

    @include media-tablet-mini {
      z-index: 2;
      max-width: $container-tablet-mini;
      background-color: $black;
      opacity: 0;
      visibility: hidden;
      transform: translate(-50%, -100%);
      transition: transform .2s ease-in-out, opacity .2s ease-in-out, visibility .2s ease-in-out;

      &.open {
        transform: translate(-50%, 0);
        opacity: 1;
        visibility: visible;
      }
    }

    @include media-custom {
      height: 167%;
      background-color: rgba($black, 0.9);
    }
  } // -- NOT DESKTOP!!!

  &__search-label {
    @include media-tablet-mini{
      margin-left: 10px;
      margin-right: 20px;
      width: 100%;
    }

    @include media-custom {
      width: 56.25vw;
    }
  } // -- NOT DESKTOP!!!

  &__search-close {
    position: relative;
    display: none;
    width: 29px;
    height: 29px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 30px;
      height: 3px;
      transform: translate(-50%, -50%);
      background-color: $white;
      transition: background-color .2s ease-in-out;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:active {
      &::after,
      &::before {
        background-color: $secondary;
      }
    }

    &.focus-visible {
      @include focus-bg;
    }

    @include media-tablet-mini {
      display: block;
    }

    @include media-custom {
      position: absolute;
      top: 0;
      right: 0;
      width: 5.6vw;
      height: 5.6vw;

      &::after,
      &::before {
        width: 5.7vw;
        height: 2px;
      }
    }
  } // -- NOT DESKTOP!!!
}