.no-webp {
  .section {
    --gallery-bg: url('../img/gallery-bg.jpg');
    --editions-bg: url('../img/editions-bg.jpg');

    @include media-tablet {
        --gallery-bg: url('../img/gallery-tablet-bg.jpg');
        --editions-bg: url('../img/editions-tablet-bg.jpg');
      }
  }
}

.webp {
  .section {
    --gallery-bg: url('../img/gallery-bg.webp');
    --editions-bg: url('../img/editions-bg.webp');

    @include media-tablet {
        --gallery-bg: url('../img/gallery-tablet-bg.webp');
        --editions-bg: url('../img/editions-tablet-bg.webp');
      }
  }
}

.section {
  margin-bottom: 80px;

  &--last {
    margin-bottom: 0;
  }

  &__title {
    margin: 0 0 16px;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.35;
    color: $text;

    &--light {
      color: $white;
    }

    &--mini {
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 22px;
    }
  }

  &__text {
    margin: 0 0 -10px;
    max-width: 1080px;
    font-size: 16px;
    line-height: 2;
    color: $text;

    &--project {
      margin-bottom: 20px;
    }
  }

  &--img {
    padding: 80px 0;
    @include bg-c-cv;
    background-color: #2a2a2a;
  }

  &--gallery {
    background-image: var(--gallery-bg);
  }

  &--editions{
    background-image: var(--editions-bg);
    padding-bottom: 75px;
  }

  &__filter {
    max-width: 400px;
    margin-right: 20px;
    @include flex-column;

    @include media-tablet {
      max-width: 280px;
      margin-right: 0;
    }
  }
}