.simplebar-track.simplebar-vertical {
  top: 50%;
  right: -19px;
  width: 2px;
  height: 220px;
  transform: translateY(-50%);
  background-color: $black;
}

.simplebar-scrollbar::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border-radius: 0;
  opacity: 1;
}

.simplebar-scrollbar.simplebar-visible::before {
  background-color: $white;
  opacity: 1;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
}