.slider {
  margin-top: 25px;
  width: 100%;
  max-width: 1150px;
  overflow: hidden;

  &__controllers {
    display: flex;
    align-items: center;
    margin-bottom: 28px;

    &--gallery {
      margin-left: 3px;
    }

    &--editions {
      margin-top: 7px;
      margin-left: 10px;
    }
  }

  &__pagination {
    margin: 0 19px;
    font-size: 16px;
    line-height: 2;
    color: $white;
  }

  &-btn {
    position: relative;
    width: 30px;
    height: 30px;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    transition: background-color .2s ease-in-out, border-color .2s ease-in-out, opacity .2s ease-in-out;

    &.focus-visible {
      outline: none;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &::before,
    &::after {
      @include mini-arr;
    }

    &::before {
      top: 10px;
    }

    &::after {
      bottom: 10px;
    }

    &--prev {
      &::before {
        left: 8px;
        transform: rotate(-45deg);
      }

      &::after {
        left: 8px;
        transform: rotate(45deg);
      }
    }

    &--next {
      &::before {
        right: 8px;
        transform: rotate(45deg);
      }

      &::after {
        right: 8px;
        transform: rotate(-45deg);
      }
    }

    &--light {
      background-color: $btn-light;
      border-color: $btn-light;

      &:hover:not(:disabled) {
        background-color: $secondary-light;
        border-color: $secondary-light;
      }

      &.focus-visible {
        border-color: $primary;
      }

      &:active:not(:disabled) {
        background-color: $secondary-light;
        border-color: $primary;
      }

      &::before,
      &::after {
        background-color: $black;
      }
    }
    
    &--dark {
      background-color: $btn-slider;
      border-color: $btn-slider;

      &:hover:not(:disabled) {
        background-color: $primary;
        border-color: $primary;
      }

      &.focus-visible {
        border-color: $black;
      }

      &:active:not(:disabled) {
        background-color: $secondary;
        border-color: $black;
      }

      &::before,
      &::after {
        background-color: $white;
      }
    }
  }

  &-list {
    @include flex-column;
    flex-wrap: wrap;
    align-content: flex-start;
    max-height: 750px;
  }

  &-item {
    display: block;
    overflow: hidden;
    position: relative;
    width: calc((100% - 100px) / 3);
  }

  &-lazy-preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $secondary;

    &-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 10;
      transform: translate(-50%, -50%);
      border: 4px solid $secondary-light;
      border-radius: 50%;
      width: 42px;
      height: 42px;
      animation-name: rotate;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      border-left-color :transparent;
    }

    &-text {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 10;
      transform: translate(-50%, -50%);
      animation: op alternate-reverse 2s linear infinite;
      font-weight: 700;
      font-size: 30px;
      color: $white;
    }
  }
}

@keyframes rotate {
  from {transform: translate(-50%, -50%) rotate(0deg);}
  to {transform: translate(-50%, -50%) rotate(360deg);}
}

@keyframes op {
  from {opacity: 0.3}
  to {opacity: 1}
}